body {
  font-family: Overpass;
  background-color: #f9ebc88d;
  color: #644536;
  text-align: center;
  padding: 25px;
}

.shadowed {
  /* box-shadow: 5px 5px 3px black; */
}

h1,
h2,
h3 {
  font-family: Chivo;
  color: #0c0a3e;
}

div {
  background-color: white;
  padding: 50px;
  width: 500px;
  margin: 25px auto;
  border-radius: 5px;
  border: 1px solid #eaeaea;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
}

#awesome-title {
  font-size: 42px;
}

#header-image {
  width: 190px;
  height: 190px;
  border-radius: 50%;
}

a {
  text-decoration: none;
  color: white;
  background-color: #ba6e6e;
  padding: 15px;
  border-radius: 5px;
  transition: 0.3s ease;
}

a:hover {
  background-color: #a36060;
}
